

body {
    background: #000000;
    color: #ABB7C4;
    text-align: center;
    margin-top: 5px;
    font-size: 20px;
    font-weight: lighter;  
}





header {
    font-size: 20px;
    color: black;
}


input {
    width: 400px;
}

img {
    display: block;
}

